
<!doctype html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= assets(:css) %>
    <script>

    function confirmModChanges() {
      var confirm_string = "Are you sure you want to make the following changes? Any server with a change will be restarted.\n\n"

      var mod_boxes = document.getElementsByClassName("mod_checkbox");
      var i;

      for (i = 0; i < mod_boxes.length; i++) {
        mod_box = mod_boxes[i];

        if (mod_box.defaultChecked == mod_box.checked){
          continue;
        }

        var action = "";

        if (mod_box.checked){
          action = "Enabled"
        }
        else {
          action = "Disabled"
        }

        confirm_string = confirm_string + mod_box.dataset.server + ": " + action + " " + mod_box.name;
      }

      return confirm(confirm_string);
    }
    </script>
  </head>
  <body>
    <%= KISSCraft::HTMLGenerator.generate_side_nav %>
    <div class="main">
      <% form(:action=>'/mods', :method => "POST", :onsubmit => "return confirmModChanges();") do |f| %>
        <%# f.tag(:fieldset) do %>
          <% @servers.each do |server| %>
            <table class="table">
              <tr> 
                <th>Enabled</th>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
              </tr>
              <h1>
                <%= server.name %>
              </h1>
              <% server.mods.each do |mod| %>
                <tr>
                  <td>
                    <%= 
                      f.input(
                        :checkbox, 
                        checked: mod.enabled?, 
                        name: "cb #{server.name} #{mod.name}", 
                        class: "mod_checkbox",
                        data: {server: server.name}
                      ) 
                    %>
                  </td>

                  <td>
                    <%= mod.name %>
                  </td>

                  <td> 
                    <%= mod.description %>
                  </td>

                  <td> 
                    <%= mod.version %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </table>
            <%# end %>
            <%= f.button("Apply changes") %>
          <% end %>
    </div>
  </body>
</html>
